# Cross validation

In [5]:


from sklearn import datasets 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn import svm

iris=datasets.load_iris()
iris

x = iris.data
y = iris.target``

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=38, test_size = .4)
x_train.shape, x_test.shape

((90, 4), (60, 4))

In [15]:
clf = svm.SVC(kernel='linear',C=1)
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.9666666666666667

In [16]:
# lets use cross validation 
from sklearn.model_selection import cross_val_score
iris = datasets.load_iris()
x = iris.data
y = iris.target
clf = svm.SVC(kernel='linear',C=1)
score= cross_val_score(clf,x,y,cv=5)

In [22]:
print(f"Score of the model is:{(score.mean()).round(2)} % (+/- {(score.std()*2).round(2)})")

Score of the model is:0.98 % (+/- 0.03)

In [25]:
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import cross_val_score 
iris= datasets.load_iris()
x = iris.data 
y = iris.target
lm = LinearRegression()
# time to use cross validation 
score = cross_val_score(lm,x,y,cv=5)
print(f"scores for mentioned selected model is {(score.mean()).round(2)}% and with (+/- {(score.std()).round(2)})")

scores for mentioned selected model is 0.32% and with (+/- 0.4)

### please note that i have two different scores when i used svm.SVC and

In [27]:
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score 
iris = datasets.load_iris()
x=iris.data
y=iris.target
rm = SVR(kernel='linear',C=1)
score= cross_val_score(rm,x,y,cv=5)
print(f"the general score is {(score.mean()).round(2)} with plus / minus {(score.std()).round(2)}")

the general score is 0.32 with plus / minus 0.39

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [50]:
#  so iris dat was for classification models so that we have a regression data called diabetes
# lets check the strenght of two models 
x=datasets.load_diabetes().data
y=datasets.load_diabetes().target 
rm_svr = SVR(kernel='sigmoid' , C=1)
rm_lr = LinearRegression()

model =[rm_svr,rm_lr]
for i in model :
    score= cross_val_score(i,x,y,cv=5)
    print(f"Score for model {i} is {(score.mean()).round(2)} plus/minus {(score.std()).round(2)}")

Score for model SVR(C=1, kernel='sigmoid') is 0.35 plus/minus 0.03
Score for model LinearRegression() is 0.48 plus/minus 0.05

In [42]:
# exp 1 test linear regression model score and cv linear score on regression data 
# Firstly 
df = datasets.load_diabetes()
x = df.data
y = df.target
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4,random_state=0)
lr=LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.3865463441016189

In [51]:
# exp 2 test that manually test svr 
lr = SVR(kernel='sigmoid', C=1)
lr.fit(x_train,y_train )
lr.score(x_test,y_test)

0.30370200345245546

# Grid Search

Some times when researchers using ML models they change the parameters of model each time and test model to have best best scores 
grid search function is used to search each parameter user input to see and check and to give back best params 
in below cells will walk step by step to with sklearn user guide to master this tool as it very important to use.

In [52]:
# lets import classification data 
import pandas as pd 
df = pd.read_csv(r"C:\Users\YN\Downloads\iranian-telecom-churn (1).csv")
df.head(5)

,ID,Subscription length,Charge amount,Seconds of use,Frequency of use,Frequency of SMS,Distinct called numbers,Call failures,Tariff plan,Status,Age group,Complaints,Churn
0,1,35,0,1420,41,36,20,1,A,Active,30-40,N,0
1,2,28,0,920,32,20,12,7,A,Active,Under 30,N,0
2,3,40,0,88,6,8,6,0,A,Inactive,30-40,N,1
3,4,38,0,13963,170,9,47,9,A,Active,30-40,N,0
4,5,38,0,13773,169,0,44,7,A,Active,30-40,N,0

In [53]:
df.isna().sum()

ID                         0
Subscription length        0
Charge amount              0
Seconds of use             0
Frequency of use           0
Frequency of SMS           0
Distinct called numbers    0
Call failures              0
Tariff plan                0
Status                     0
Age group                  0
Complaints                 0
Churn                      0
dtype: int64

In [54]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Subscription length, Charge amount, Seconds of use, Frequency of use, Frequency of SMS, Distinct called numbers, Call failures, Tariff plan, Status, Age group, Complaints, Churn]
Index: []

,Tariff plan_A,Tariff plan_B,Status_Active,Status_Inactive,Age group_30-40,Age group_Over 40,Age group_Under 30,Complaints_N,Complaints_Y
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
3145,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3146,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3147,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3148,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
3149,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0

In [78]:
x = x.join(encoded_data)
x = x.drop(cat_cols,axis=1)

In [79]:
x = df.drop('Churn', axis =1 )
y = df['Churn']
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state= 38, test_size=.3)

In [ ]:
# seems our data is cleaned and ready for classification 
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state= 38, test_size=.3)
svc=SVC()
param_grid= {
    'C': [0.1, 1],  # Regularization parameter
    'gamma': [.1, 0.01, 0.001],  # Kernel coefficient
    'kernel': ['linear', 'rbf', 'poly']  # Type of kernel 
    }
gs= GridSearchCV(svc,param_grid,cv=5,scoring='f1_macro')
gs.fit(x_train,y_train)
print(f"Best Parameters is {gs.best_params_}")
print(f"best score is {gs.best_score_}")
best_model = gs.best_estimator_
y_hat= best_model.predict(x_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_hat))

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3150 non-null   int64
 1   Subscription length      3150 non-null   int64
 2   Charge amount            3150 non-null   int64
 3   Seconds of use           3150 non-null   int64
 4   Frequency of use         3150 non-null   int64
 5   Frequency of SMS         3150 non-null   int64
 6   Distinct called numbers  3150 non-null   int64
 7   Call failures            3150 non-null   int64
 8   Tariff plan              3150 non-null   object
 9   Status                   3150 non-null   object
 10  Age group                3150 non-null   object
 11  Complaints               3150 non-null   object
 12  Churn                    3150 non-null   int64
dtypes: int64(9), object(4)
memory usage: 320.0+ KB

In [63]:
df['Complaints']

0       N
1       N
2       N
3       N
4       N
       ..
3145    N
3146    N
3147    N
3148    N
3149    N
Name: Complaints, Length: 3150, dtype: object

In [75]:
x.head()

,ID,Subscription length,Charge amount,Seconds of use,Frequency of use,Frequency of SMS,Distinct called numbers,Call failures,Tariff plan,Status,Age group,Complaints
0,1,35,0,1420,41,36,20,1,A,Active,30-40,N
1,2,28,0,920,32,20,12,7,A,Active,Under 30,N
2,3,40,0,88,6,8,6,0,A,Inactive,30-40,N
3,4,38,0,13963,170,9,47,9,A,Active,30-40,N
4,5,38,0,13773,169,0,44,7,A,Active,30-40,N

In [10]:
import pandas as pd 
import numpy as np 
from sklearn import datasets 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.svm import SVR 
x = datasets.load_diabetes().data
y =datasets.load_diabetes().target

lr_model = LinearRegression()
svr_model= SVR(kernel= 'sigmoid', C=1)
models =[lr_model,svr_model]
for i in models: 
    score = cross_val_score(i,x,y,cv=5)
    print(f"Total score for model {i} is {(score.mean()).round(2)} with plus/minus (+/- {(score.std()).round(2)})")

Total score for model LinearRegression() is 0.48 with plus/minus (+/- 0.05)
Total score for model SVR(C=1, kernel='sigmoid') is 0.35 with plus/minus (+/- 0.03)

#

# Grid Search to choose the parameter

In [27]:
# in below cell we need to check different parameters between them
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt 
svr= SVR()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=38)
params_grid = {
    'C':[.5,1],
    'kernel':['linear', 'rbf', 'poly','sigmoid']
}
gs = GridSearchCV(svr,params_grid,cv=3)
gs.fit(x_train,y_train)
print(f"Best Parameters is {gs.best_params_}")
print(f"best score is {gs.best_score_}")
print(f"best model is {gs.best_estimator_}")
svr=gs.best_estimator_
y_hat=svr.predict(x_test)
svr.score(x_test,y_hat)

Best Parameters is {'C': 1, 'kernel': 'sigmoid'}
best score is 0.3241392557958659
best model is SVR(C=1, kernel='sigmoid')

1.0